*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #F5C50B;
    --second-color: #F6B12D;
    --color-black: #090C02;
    --color-black2: #11151D;
    --white-color: #FFF;
}

@font-face {
    font-family: Cairo-Regular;
    src: url(../Assets/Fonts/Cairo-Regular.ttf);
}
@font-face {
    font-family: Cairo-Bold;
    src: url(../Assets/Fonts/Cairo-Bold.ttf);
}
@font-face {
    font-family: Cairo-Medium;
    src: url(../Assets/Fonts/Cairo-Medium.ttf);
}
@font-face {
    font-family: Cairo-Black;
    src: url(../Assets/Fonts/Cairo-Black.ttf);
}
@font-face {
    font-family: Cairo-ExtraLight;
    src: url(../Assets/Fonts/Cairo-ExtraLight.ttf);
}
@font-face {
    font-family: Pacifico-Regular;
    src: url(../Assets/Fonts/Pacifico-Regular.ttf);
}

body {
    background-color: var(--color-black2);
    color: #FFF;
    font-family: Cairo-Regular;
    overflow-x: hidden;
    /* font-size: 22px; */
}

a {
    text-decoration: none;
    /* font-size: 20px; */
    color: var(--white-color);
}

.firstNavBar{
    background-color: var(--color-black2);
    color: var(--white-color);
    padding: 20px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 15;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.logo-burger img{
    width: 50px;
    aspect-ratio: 1/1;
}

.navbarLinks{
    width: 45%;
    display: flex;
    
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.navbarLinks li{
    /* display: inline-block; */
    list-style: none;
    color: var(--color-black);
    /* padding: px; */
}

.navbarLinks li a{
    cursor: pointer;
    font-family: Cairo-Black;
}

.auth-div{
    /* width: 20%; */
    text-align: center;
}

.auth-div a{
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
    
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
}

.auth-div a i{
    font-size: 22px;
}

.login-btn {
    cursor: pointer;
    background-color: var(--primary-color);
}

.signup-btn {
    cursor: pointer;
    background-color:var(--white-color);
    color: var(--color-black);
}

.banner-img {
    align-content: baseline;
    height: 80vh;
}

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    gap: 20px;
    padding: 5px 20px;
}

.banner-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    padding-left: 30px;
    gap: 20px;
    
}

.banner-text span{
    font-size: 25px;
    font-family: Pacifico-Regular   ;
    animation: coming1 linear 1s;
    animation-direction:alternate;
}

.banner-btn{
    animation: coming1 linear 1s;
    animation-direction:alternate;
}

.dicover-btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    text-align: center;
    padding: 6px 70px;
    border-radius: 5px;
    
}

.menu-btn{
    background-color: var(--white-color);
    color: var(--color-black);
    border: none;
    text-align: center;
    padding: 6px 15px;
    border-radius: 5px;
    
}

.welcome1{
    font-size: 22px;
    font-family: Cairo-Regular;
    animation: coming1 linear 1s;
    animation-direction:alternate;
}

.welcome{
    /* line-height: 5px; */
    /* font-size: 22px; */
    font-family: Cairo-Regular;
    animation: coming1 linear 1s;
    animation-direction:alternate;
}
.resto-name{
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
    font-family: Cairo-Black;
    animation: coming1 linear 1s;
    animation-direction:alternate;
}

.banner-img img{
    width: 700px;
    height: auto;
    animation: coming linear 1s;
    animation-timeline: scroll(100%); 
    animation-direction:alternate;
}

/*  CSS de la section service  */

#service, #Abouts{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    gap: 30px;
    padding: 10px 20px;
    
}

.section-title{
    border-bottom: solid 2px var(--primary-color);
    font-family: Cairo-Bold;
}

.section-container, .about-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.service-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    border-radius: 10px;
    color: var(--color-black);
    /* border-left: solid 5px var(--color-black2); */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
    background-color: var(--white-color);
    gap: 20px;
    animation: moov linear 6s;
    animation-range-start: cover 0%;
    animation-range-end: contain 10%;
    animation-timeline: view();
}

@keyframes moov {
    from{
        transform: translateX(100%);
        transform: scale3d(0);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        transform: scale3d(1);
        opacity: 1;
    }
}
@keyframes mooving {
    from{
        transform: translateY(100%);
        transform: scale3d(0);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        transform: scale3d(1);
        opacity: 1;
    }
}

@keyframes coming {
    from{
        transform: translateX(100%);
        transform: scale3d(0);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        transform: scale3d(1);
        opacity: 1;
    }
}
@keyframes coming1 {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.moov{
    animation: moov linear 6s;
    animation-range-start: cover 2%;
    animation-range-end: contain 10%;
    animation-timeline: view();
}

.service-item:hover{
    transition: 0.6s;
    transform: scale(1.1) ;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

.service-list, .service-item div{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.service-item div i {
    font-size: 50px;
    color: var(--primary-color);
}

.service-item div h3{
    font-size: 30px;
    color: var(--color-black);
}

/*  CSS de la page de connetion  */

.Inscription{
    background-image: url(../Assets/images/AuthBack.png) ;
    background-position:fixed-center;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_conataint{
    padding: 20px;
    border: solid var(--color-black2);
    width: fit-content;
    height: fit-content;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 20, 20, 0.445);
    border-radius: 30px;
    color: #000000;
    animation: coming linear 1.3s;
}

.form_conataint form .les_inputs {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 20px;
}

.first_input, .seconde_input{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 20px;
}

.first_input input, .seconde_input input {
    width: 300px;
    padding: 15px;
    border: solid 3px var(--second-color);
    width: 270px;
    color: black;
    border-radius: 15px;
}

.submit{
    text-align: center;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
}

.links:hover{
    color: var(--primary-color);
    transition: 0.3s;
}

.submit h1{
    font-size: 30px;
    text-decoration:underline;
}

.submit .btn{
    width: 270px;
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.submit .btn:hover{
    background-color: var(--color-black2);
    color: var(--white-color);
    cursor: pointer;
    transition: 0.5s;
}


/* CSS de abouts */

.second-desc,.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    /* row-gap: 20px; */
}

.descImg{
    background: url(../Assets/images/burger-2612137_1280.jpg) no-repeat center;
    background-size: cover;
    border-radius: 15px;
    width: 50%;
    height: 74vh;
}

.descText{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px ;
}

.second-desc{
    display: flex;
    flex-direction: row;
}

.second-desc div{
    width: 50%;
    text-align: center;
}

.second-desc div img{
    border-radius: 15px;
    width: 100%;
    height: 200px;
}

.learnPlusBtn{
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    background-color: var(--primary-color);
}

.article{
    padding: 5px 25px;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.article-containt{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    
}

.card{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 10px; */
    color: var(--color-black);
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    /* text-align: center; */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.377);
    animation: mooving linear 2s;
    animation-range-start: cover 0%;
    animation-range-end: contain 10%;
    animation-timeline: view();
}

.article-img img{
    width: 100%;
    border-radius: 15px;
    height: auto;
}

.article .titleh2 {
    font-size: 20px;
    font-family: Cairo-Black;
    border-bottom: solid 3px var(--primary-color);
}

.article .description{
    text-align: center;
    font-size: 18px;
    width: 50%;
    font-family: Cairo-Regular;
}

.article-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    /* font-size: 20px; */
    text-align: start;
    font-family: Cairo-Regular;
}

.article-text .title{
    font-size: 25px;
    font-weight: bold;
    font-variant:small-caps;
    font-family: Cairo-Black;
}

.article-text .price span{
    font-size: 18px;
    color: var(--primary-color);
    font-family: Cairo-Black;
}

.article-text .read-more{
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: #fff;
    width: 100px;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: Cairo-Regular;
}

.article-text .read-more:hover{
    color: var(--white-color);
    background-color: var(--color-black2);
    /* border: solid 1.5px #000; */
    transition: 1.3s;
}

#contacts{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    gap: 30px;
    padding: 10px 20px;
}